dht.mode.set = "auto"
dht.port.set = 57779
peer_exchange = yes

use_udp_trackers = yes

directory.default.set = "/data/rtorrent/torrents"

network.port_range.set = 57778-57778
network.scgi.open_port = "0.0.0.0:5000"

protocol.encryption.set = allow_incoming,try_outgoing,enable_retry
protocol.pex.set = "yes"

session.path.set = "/data/rtorrent/session"

try_import=/app/rtorrent_extra.rc
